{% extends 'layouts/portal_layout.html' %}
{% block page_title %}
    {{ object.full_name }}
{% endblock %}
{% block title %}
    {{ object.full_name }}
{% endblock %}
{% block bill %}
    active
{% endblock %}
{% block content %}
    <div class="row" id="id_card">
        <div class="col-5" style="border: 2px dashed black; height: 280px;">
            <div style="margin-top: 12px; border: 1px solid black; height: 250px; padding: 10px">
                <p><h3 style="color: blue">Ai Hospital - Patient Card</h3></p>
                <h4>ID: {{ object.patient_id }}</h4>
                <h4>Full name: {{ patient.full_name }}</h4>
                <h4>Gender: {{ patient.gender }}</h4>
                <h4>Date of Birth: {{ patient.date_of_birth }}</h4>
                <h4>Date Issued: {{ patient.created_at }}</h4>
            </div>
        </div>

    </div>

{% endblock %}