{% extends 'layouts/department_layout.html' %}
{% block page_title %}
    Department
{% endblock %}
{% block title %}
    Wards Department
{% endblock %}
{% block mgt %}
    active
{% endblock %}
{% block content %}
    <div class="card">
        <div class="card-body">
            <div class="list-group">
                {% for ward in object_list %}
                    <div class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="row">
                            <div class="col-md-10">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">{{ ward.label }}</h5>
                                    {#<small class="text-muted">3 days ago</small>#}
                                </div>
                                <p class="mb-1">No of Beds: {{ ward.beds.count }}</p>
                                {#                                    <p class="mb-1">No of Patients: {{ ward.patient.count }}</p>#}
                            </div>
                            <div class="col-md-2 mt-2">
                                <a href="{% url 'department:ward-details' ward.id %}" class="btn btn-sm btn-warning">
                                    <i class="fas fa-list"></i>
                                </a>
                            </div>
                        </div>

                    </div>
                {% endfor %}
            </div>

        </div>
    </div>
{% endblock %}
