{% extends 'layouts/apps_layout.html' %}
{% block css %}
    <style>
        .raise:hover{
            box-shadow: 0 0 15px rgba(33, 33, 33, .2);
            cursor: pointer;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="col">
                    <a href="{% url 'portal:portal' %}" class="raise card card-link border-left-primary">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="h4 font-weight-bold text-primary">Portal</div>
                                </div>
                                <div>
                                    <i class="fas fa-2x fa-folder-open"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="col">
                    <a href="{% url 'department:dashboard' %}" class="raise card card-link border-left-warning">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="h4 font-weight-bold text-primary">Department</div>
                                </div>
                                <div>
                                    <i class="fas fa-2x fa-building"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col">
                 <div class="col">
                    <a href="{% url 'pharmacy:dashboard' %}" class="raise card card-link border-left-success">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="h4 font-weight-bold text-primary">Pharmacy</div>
                                </div>
                                <div>
                                    <i class="fas fa-2x fa-plus-square"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

        </div>
        <div class="row mt-3">
            <div class="col">
                <a href="{% url 'staff:dashboard' %}" class="raise card card-link border-left-danger">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="h4 font-weight-bold text-primary">Staff</div>
                            </div>
                            <div>
                                <i class="fas fa-2x fa-sitemap"></i>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="{% url 'management:dashboard' %}" class="raise card card-link border-left-danger">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="h4 font-weight-bold text-primary">Administration</div>
                            </div>
                            <div>
                                <i class="fas fa-2x fa-sitemap"></i>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {#            <div class="col">#}
            {#                <div class="card border-left-primary">#}
            {#                    <div class="card-body">#}
            {#                        <div class="row no-gutters align-items-center">#}
            {#                            <div class="col mr-2">#}
            {#                                <div class="h4 font-weight-bold text-primary">Portal</div>#}
            {#                            </div>#}
            {#                            <div>#}
            {#                                <i class="fas fa-2x fa-folder-open"></i>#}
            {#                            </div>#}
            {#                        </div>#}
            {#                    </div>#}
            {#                </div>#}
            {#            </div>#}

        </div>
    </div>
{% endblock %}